<!DOCTYPE html>
<html>
  <head>
    <title>Login Success</title>
  </head>

  <body>

    <div class="login_callback">
        <p> Login Success thanks! </p>
    </div>
  </body>
  <script>
    // close window after 2 secods
    setTimeout(function(){ window.close(); }, 2000);
    window.onunload = refreshParent();
    function refreshParent() {
        window.opener.location.test();
    }
  </script>
</html>
