<!DOCTYPE html>
<html>
  <head>
    <title>Login Success</title>
  </head>

  <body>

    <div class="login_callback">
        <p> Login Success thanks! </p>
    </div>
  </body>
  <script>
    // close window after 3 secods
    setTimeout(function(){ window.close(); }, 3000);
  </script>
</html>
