<!DOCTYPE html>
<html>
  <head>
    <title>LA PRUEBA DE EL!/title>
  </head>

  <body>

    <div class="login_callback">
        <p> HOLA COMO ESTAS </p>
    </div>
  </body>
  <script>
    // close window after 1.5 secods
    //setTimeout(function(){ window.close(); }, 1500);
  </script>
</html>
